.StripeElement { padding: 0.5rem; border-radius: 0.25rem; border: none; background-color: var(--stripe-element-background-color); color: var(--stripe-element-text-color) }

/* color settings */
:root {
  --stripe-element-background-color: var(--content-light);
  --stripe-element-text-color: var(--content-dark);
}
